.barOuter{
    width: 290px;
    background-color: green;
    height: 55px;
    border: 2px solid lightgreen;
    text-align: start;
    border-radius: 40px;
}

.hpValue{
    position: relative;
    top: -15px;
    left: 17px;
}

.healthBorder {
    position: relative;
    top: -12px;
    left: -75px;
}

progress {
    border: 0;
    background-color: green;
    height: 40px;
    border-radius: 20px;
    width: 500px; 
}

progress:after {
  position: relative;
  top: -30px;
  left: 10px;
  content: 'Value is ' attr(value);
}

progress::-webkit-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 40px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 40px;
    border-radius: 20px;
}