@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modal-content {
    background-color: #15181f;
    color: #a2a2a5;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    border-radius: 18px;
}
.modal-dialog {
    max-width: 65%;
}

.modal-footer {
    justify-content: center;
}

.answer-checkbox:hover {
    cursor: url('../../img/staff.png'), auto;
  }

.quiz-question {
    width: 70%;
    margin: 0 auto;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-footer button {
    background-color: #2b74e0;
}