/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
} */

.game-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    margin: 80px 100px 0;
}

.alert-msg {
    color: white;
}

.hidden {
    visibility: hidden;
}

.char-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

.firstChar {
    margin-bottom: 79px;
}

.videoBackground {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    filter:opacity(60%);
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 135px; */
}