.game-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
}

.alert-msg {
    color: white;
}

.hidden {
    visibility: hidden;
}